#background{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
#background video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#background::after{
    content: '';
    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}
#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}
header{
    display: flex;
    align-items: center;
    column-gap: 64px;
    width: 100%;
    max-width: 1200px;
    padding-top: 24px;
}
header img{
    width: 130px;
    height: auto;
    color: rgb(122, 114, 114)
}
header img:Hover{
    cursor: pointer;
    transition: all 0.4s;
    color: rgb(122, 114, 114);
    transform: translateY(-3px);
    
}
.navigation{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    column-gap: 48px;
    list-style: none;
}
.navigation_link{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgb(163, 157, 157);
    margin-right: 10px;
    text-decoration: none;
    position: relative;
}
.navigation_link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background:rgb(163, 157, 157);
    transform: scaleX(0);
    transition: transform 1s;
}
.navigation_link:hover::after{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 1s;
    

}
.navigation_social{
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.navigation_social svg{
    width: 20px;
    height: 20px;
    opacity: 0.6;
    transition: all 0.5s;
}
.navigation_social svg:hover{
    cursor: pointer;
    opacity: 1;
    transform: translateY(-3px);
}
h1{
    text-shadow: 1px 1px 2px grey;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 34px;
    color: rgb(163, 157, 157);
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.subtitulo{
    text-shadow: 1px 1px 2px grey;
    font-family: sans-serif;
    opacity: 0.4;
    font-size: 23px;
    color: rgb(163, 157, 157);
    margin: 0;
    position: absolute;
    top: 37%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.contato{
    border-radius: 20px;
    cursor: pointer;
    background: transparent;
    padding: 10px 32px;
    color: rgb(163, 157, 157);
    font-family: sans-serif;
    margin: 0;
    position: absolute;
    top: 46%;
    left: 50%;
    margin-right:-50%;
    transform: translate(-50%, -50%)
    
}
footer{
    color: white;
    text-align: center;
    padding: 30px;
    text-shadow: 2px 2px 2px black;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    font-size: 10px;
    letter-spacing: 1px;
}
div{
    
}
.tabela{
    position: absolute;
    top: 77%;
    left: 30%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    border-color: rgb(27, 27, 27);
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 300px;
	flex-direction: column;
    text-align: center;
}
.tabela2{
    position: absolute;
    top: 77%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    border-color: rgb(27, 27, 27);
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 300px;
	flex-direction: column;
    text-align: center;
}
.tabela3{
    position: absolute;
    top: 77%;
    left: 70%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    border-color: rgb(27, 27, 27);
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 300px;
	flex-direction: column;
    text-align: center;
}
.tabela3:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

p{
    font-family: sans-serif;
    color: rgb(163, 157, 157);
}
h2{
    font-family: sans-serif;
    color: rgb(163, 157, 157);
}
img{
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
}

.equipe{
    top: 55%;
    font-family: sans-serif;
    color: rgb(163, 157, 157);
}


